<% if user_signed_in? %><!--ユーザーログイン時のみ表示(フィールドはいいねできない)-->
  <% if picture.favorited_by?(current_user) %>
    <p>
      <%= link_to post_picture_picture_hit_path(post_id: post, picture_id: picture), method: :delete do %>
        ♥<%= picture.picture_hits.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to post_picture_picture_hit_path(post_id: post, picture_id: picture), method: :post do %>
        ♡<%= picture.picture_hits.count %> いいね
      <% end %>
    </p>
  <% end %>
<% end %>
