<div class="text-center">
  <h2>Welcome To Hello Survival!</h2>

  <div class="m-5">
    <h3>HELLO SURVIVALとは？</h3>
      <%= image_tag "about.png", :size => '760x400', class: "m-3" %>

      <p>サバゲーをもっと楽しみたい！！をテーマに制作したポートフォリオ作品です。<br>
      個人でもくもくプレイ！　仲間でワイワイ！　チームで頭脳戦！etc...<br>
      サバゲーの楽しみ方は人それぞれですが、<br>
      仲間作りや情報収集、フィールド探しなどに<br>
      活用していただけたらと考えています。</p>
  </div>
</div>