<div class="text-center">
  <h2>Welcome To Hello Survival!</h2>
</div>

<div class="container">

  <div class="bg-light text-dark mx-auto text-center">
    <h3 class="text-dark">HELLO SURVIVALとは？</h3>
      <p>サバゲー友達が欲しい！ <br>
      チーム戦をしてみたいけど人が足りない！<br>
      次に行くフィールドどこがいいかな？<br>
      初心者は参加しにくい...<br>
      各フィールドの最新情報が気軽に知りたい<br>
      サバゲー界隈をもっと盛り上げたい！<br>
      そんな考えから製作したポートフォリオ作品です。
      </p>
  </div>

</div>