<div class="text-center">
  <h2>Welcome To Hello Survival!</h2>
</div>

<div class="container">

  <div class="bg-light text-dark mx-auto text-center">
    <h3 class="text-dark">HELLO SURVIVALとは？</h3>
      <p>サバゲー友達が欲しい！ <br>
      チーム戦をしてみたいけど人が足りない！<br>
      次に行くフィールドどこがいいかな？<br>
      初心者は参加しにくい...<br>
      各フィールドの最新情報が気軽に知りたい<br>
      サバゲー界隈をもっと盛り上げたい！<br>
      そんな考えから製作したポートフォリオ作品です。
      </p>
  </div>

  <div class="row mx-auto">
    <div class="col-sm-6">
      <h3 class="bg-light text-dark mr-1">サバゲーとは？</h3>
        <p>BB弾と呼ばれるプラスチック弾を銃で撃ち合うスポーツです。<br>
          赤チーム、黄チームなど２チームに分かれてどちらかが全滅するか、<br>
          陣地が占領されるまで戦います。<br>
          1ゲームの時間は約10〜15分です。<br>
          フィールドと呼ばれるサバゲー専用の会場では、朝10時頃からゲームを開始し、<br>
          お昼に1時間の休憩、午後は夕方5時頃までゲームを繰り返して遊ぶのが一般的です。</p>
        <%= image_tag "about6.JPG", class: "about_images" %>
        <%= image_tag "about7.JPG", class: "about_images" %>
    </div>

    <div class="col-sm-6">
      <h3 class="bg-light text-dark">撃たれたら...</h3>
        <p>撃たれた人は「ヒットー！」と大きく叫び、退場します。<br>
          このヒットコールをしっかりしないと相手が聞き取れない場合もありますので、<br>
          大きな声でしっかりと叫びます。<br>
          ちなみに、フィールドによって細かいルールがあり、<br>
          壁や木に当たって跳ね返ってきた弾に当たった場合、<br>
          間違えて味方を撃ってしまった場合なども、ヒット扱いになることがあります。
          </p>
          <%= image_tag "hit.JPG", class: "about_images" %>
        <%= image_tag "me.JPG", class: "about_images" %>
    </div>

</div>