<div class="col">
  <div class="text-center">
    <%= image_tag "top.jpg", :size => "1000x500", class: "top" %>
    <div style="letter-spacing: 0.1em;">
      <div class="catch_copy">
        <h3>自分に退屈しない人が、世界を面白くしている。</h3>
      </div>
  </div>
</div>
</div>
