<div class="mx-auto" style="width: 800px;">
  <div class="col text-center">
    <%= attachment_image_tag @picture, :image, :size => "1000x500", class: "top" %>

    <%= link_to @field.name, field_path(@field) %>

    <div id="likes_buttons_<%= @picture.id %>">
      <%= render 'picture_hits/picture_hits', picture: @picture, post: @post%>
    </div>
  </div>
</div>