<div class="text-center">
  <h2>写真追加</h2>

  <%= form_with model: @post, local: true do |f| %>
    <%= f.hidden_field :field_id, :value => current_field.id %>
    <%= f.attachment_field  :pictures_images, multiple: true %>
    <%= f.submit "投稿する" %>
  <% end %>
</div>