/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@charset "UTF-8";

@font-face {
  font-family: '07Takibi-Heavy.otf';
  src: font-url('07Takibi-Heavy.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  box-sizing: border-box;
}


// homes

.top {
  max-width: 100%;
  height: auto;
}

header {
  padding: 0;
}

footer {
  height: 50px;
  color: white;
  margin: 60px 0;
}

.nav-item {
  list-style: none;
}

li {
  list-style: none;
}

h1 {
  color: #666633;
  font-size: 15px;
  font-color: white;
}

h2 {
  font-size: 40px;
  color: white;
}

h3 {
  margin-top: 10%;
  color: white;
}

body {
  height: 100%;
  color: white;
  font-family: "Noto Sans JP", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  margin: 0 auto;
  background-image: image_url("top.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: '07Takibi-Heavy.otf';
}

a {
  color: white;
}

a:hover {
  color: gray;
}

.about_images {
  width: 17vw;
  height: 16vh;
}


// field

.field_name {
  overflow: hidden;
  white-space: nowrap;
  width: 160px;
  text-overflow: ellipsis;
}

.fav_field_image {
    width: 200px;
    height: 160px;
  }

.field_index_box {
  overflow: hidden;
  white-space: nowrap;
  width: 250px;
  text-overflow: ellipsis;
}

.index_infomation_body {
  overflow: hidden;
  white-space: nowrap;
  width: 700px;
  text-overflow: ellipsis;
}

// user

.plofile_image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid white;
}

.index_plofile_image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid white;
}

.group_chat_profile_image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid white;
}

.follow_plofile_image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid white;
  }

.comment_plofile_image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid white;
}


  // chat

.group_chat_profile_name {
  overflow: hidden;
  white-space: nowrap;
  width: 80px;
  text-overflow: ellipsis;
}

.message {
  width: 80vw;
}

.message_body {
  width: 70vw;
}

.message_box {
  width: 73vw;
  margin: 0 auto;
}


// paginate

.pagination>li>a {
  margin: 10px;
  color: white;
}

.pagination>.active>a {
  border-radius: 15px;     /*角を丸くする*/
  margin: 10px;
  color: gray;
}

.pagination>li>a:hover {
  color: #696969;   /*文字の色を変える*/
  color: gray;
}


/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width: 768px) {

// homes

    body::before {
    background: image-url('back.jpg') no-repeat left top;
    background-size: 100% auto;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 108px;
    content: "";
    z-index: -1;
  }


  .about_image {
    width: 100vw;
    height: auto;
  }

  .about_images {
    width: 40vw;
    height: 100px;
  }

// user

  .comment_plofile_image_box {
    width: 10vw;
  }

  .comment_plofile_image {
    height: 30px;
    width: 30px;
  }

  .plofile_image_box {
    height: 100px;
    width: 100px;
    margin: 0 auto;
  }

  .plofile_image {
    border-radius: 50%;
    border: 1px solid white;
    height: 100px;
    border: 1px solid white;
  }

  .image {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .photo {
    height: 80px;
    width: 80px;
    display: flex;
  }

  .fav_photo {
    height: 80px;
    width: 80px;
  }

  .fav_field_name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 110px;
  }

  .fav_field_image {
    width: 110px;
    height: 80px;
  }

  .group_chat_profile_image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid white;
  }


// follow

  .followings_btn {
    display: flex;
    margin: 0 auto;
  }

  .follow_plofile_image_box {
    width: 10vw;
  }

  .follow_plofile_image {
    border-radius: 50%;
    padding: 5px;
    border: 1px solid white;
  }

  .followings_btn {
    display: flex;
  }


// field

  .field_index_box {
    margin: 0 auto;
  }

}

/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width: 425px) {

  .top_btn {
    font-size: 13px;
  }

  .index_infomation_body {
    overflow: hidden;
    white-space: nowrap;
    width: 350px;
    text-overflow: ellipsis;
  }

  .field_show_main {
    width: 100vw;
  }

}