/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'gomarice_mukasi_mukasi';
  src: font-url('gomarice_mukasi_mukasi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

header, li {
  font-family: 'Permanent Marker', cursive;
}

footer {
  height: 80px;
}

ul {
  list-style: none;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  color: #666633;
  font-size: 15px;
}

h2 {
  font-family: 'gomarice_mukasi_mukasi', cursive;
  font-size: 50px;
  margin-top: 30px;
  
}

body {
  font-family: 'Sawarabi Gothic', sans-serif;
  background-image: url('top.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}


/* タブレット横置きサイズ（1024px）以下の際に適用される設定 */
@media screen and (max-width: 1024px) {
  h2 {
    color: green;
  }
}
/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width: 768px) {
  h2 {
    color: red;
  }
}
/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width: 425px) {
  h2 {
     color: blue;
  }

  body {
    background-image: none;
    // background_color: red;
  }

  .top {
    background: url('top.jpg');
    height: 300px;
    width: 100%;
    background-size: cover;
    position: relative;
  }

  .catch_copy {
    position: absolute;
    top: 30px;
  }
}