<div class="col vh-100">
  <h2>Fields#index</h2>
  <% @field.each do |field| %>
  <div>
  <div class="d-flex flex-row bd-highlight mb-2 bg-light">
    <%= attachment_image_tag field, :image, :size => '250x150' %>
    <div>
      <%= link_to field.name, field_path(field) %><br>
      <%= field.address %><br>
      <%= field.introduction %><br>
     </div>
  </div>
  </div>
  <% end %>
</div>