<div class="col vh-100">
  <h2>Fields#index</h2>
  <% @field.each do |field| %>
  <div class="card-dark mb-3">
  <div class="card" style="width:15rem;">
    <%= attachment_image_tag field, :image %>
    <div class="card-body">
      <%= link_to field.name, field_path(field), class: "card-title" %>
      <%= field.address %><br>
      <%= field.introduction %><br>

      <!--<div id="favorites_buttons_<%# field.id %>">-->
        <%# render partial: 'favorites/favorite', locals: { field: field } %>
      <!--</div>-->

     </div><!--card-body-->
    </div><!--card-->
  </div><!--card-dark-->
  <% end %>
</div><!--col-->